/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(11, 10, 10);
}

/* Header styles */
header {
    background-color: rgb(15, 13, 13);
    padding: 20px;
    color: #f0f0f0;
    /* text-align: center; */
}

header h1 {
    font-size: 2em;
    color: #fff;
}

nav ul {
    list-style: none;
    color: #fff;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color:white;
}

/* Container styles */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Introduction section styles */
#intro {
    background-color: #f0f0f0;
    padding: 50px 0;
}

#intro h2 {
    margin-bottom: 20px;
}

/* Portfolio section styles */
#portfolio {
    padding: 50px 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 600px;
    height: 600px;
    display: flex;
  
}

.gallery img {
    width: 100%;
    height: auto;
    width: 600px;
    height: 600px;
}

/* Services section styles */
#services {
    background-color: rgb(146, 48, 103);
    padding: 80px 0;
    color:white;
}

#services ul {
    list-style: none;
}

#services ul li {
    margin-bottom: 10px;
}

/* Testimonials section styles */
#testimonials {
    padding: 50px 0;
    color: #f0f0f0;
}

.testimonial {
    margin-bottom: 20px;
    color: #fff;
}

/* Contact section styles */
#contact {
    background-color: #f8f8f8;
    padding: 50px 0;
}

#contact form {
    margin-top: 20px;
}

#contact form label {
    display: block;
    margin-bottom: 10px;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
}

#contact form button {
    background-color:red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Footer styles */
footer {
    background-color:black;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.images{
    display: flex;
    height: 800px;
    width: 900px;
}
.logo{
   gap: 20px;
    display: flex;
}
.handdesign img {
    height: 500px;
    width: 520px;
  
}
.handdesign{
    display: flex;
    gap: 30px;
}
.handdesign1 img {
    height: 500px;
    width: 450px;
  
}
.handdesign1{
    display: flex;
    gap: 10px;
}
.legdesign{
    height: 500px;
    width: 550px;
    display: flex;
    gap: 5px;
}
.legdesign img{
    height: 550px;
    width: 550px;
}
